* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "comorantinfant";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "comorantinfant-bold";
}

html {
  background: #e8e8e8;
}

@font-face {
  font-family: "comorantinfant";
  font-display: swap;
  src: url("../fonts/CormorantInfant-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "comorantinfant-bold";
  font-display: swap;
  src: url("../fonts/CormorantInfant-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
.big_wide {
  position: relative;
  overflow: hidden;
}
.big_wide > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}
.big_wide:before {
  display: block;
  content: "";
  padding-bottom: 115%;
}

.standart_wide {
  position: relative;
  overflow: hidden;
}
.standart_wide > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}
.standart_wide:before {
  display: block;
  content: "";
  padding-bottom: 60%;
}

.rectangle_wide {
  position: relative;
  overflow: hidden;
}
.rectangle_wide > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}
.rectangle_wide:before {
  display: block;
  content: "";
  padding-bottom: 178.5%;
}

header {
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: transparent;
}
header .header_container {
  max-width: 1312px;
  margin: 0 auto;
  padding: 16px 16px 14px 16px;
  display: flex;
  align-items: flex-end;
}
header .header_container .menu {
  margin-bottom: 10px;
}
header .header_container .logo {
  height: 90px;
}
header .header_container .logo img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

.fon1 {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 500px;
  width: 100%;
  height: 850px;
  opacity: 50%;
  background-image: url("../img/fon1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  padding-top: 150px;
  min-height: calc(100vh - 120px);
  position: relative;
}

.products {
  display: flex;
  justify-content: center;
  max-width: 1125px;
  margin: 0 auto;
  position: relative;
}
.products .button_container {
  display: none;
}
.products .shipping span {
  position: absolute;
  top: 0;
  left: -24px;
  text-transform: uppercase;
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
  text-align: end;
  font-size: 25px;
  line-height: 5px;
}
.products .products_container {
  margin: 0 -10px;
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
}
.products .products_container > div {
  padding: 0 5px 20px 5px;
}
.products .products_container > div .standart_wide,
.products .products_container > div .big_wide {
  height: 100%;
  filter: grayscale(100%);
  transition: 0.3s;
}
.products .products_container > div .standart_wide:hover,
.products .products_container > div .big_wide:hover {
  filter: grayscale(0);
  transition: 0.3s;
}
.products .products_container > div .standart_wide span,
.products .products_container > div .big_wide span {
  color: white;
  font-size: 24px;
  line-height: 1.3em;
  width: 123px;
  text-wrap: wrap;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.products .products_container > div:nth-child(1) {
  flex: 0 0 55%;
  display: flex;
  flex-wrap: wrap;
}
.products .products_container > div:nth-child(1) > div:nth-child(1) {
  flex: 0 0 45%;
  padding-bottom: 20px;
}
.products .products_container > div:nth-child(1) > div:nth-child(2) {
  flex: 0 0 55%;
  padding-left: 10px;
  padding-bottom: 20px;
}
.products .products_container > div:nth-child(1) > div:nth-child(3) {
  flex: 0 0 100%;
}
.products .products_container > div:nth-child(2) {
  flex: 0 0 45%;
}
.products .products_container > div:nth-child(3) {
  display: flex;
  flex: 0 0 100%;
  padding: 0 0 20px 0;
}
.products .products_container > div:nth-child(3) > div {
  flex: 0 0 50%;
  padding: 0 5px;
}

.cb {
  padding: 100px 0;
}

.arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .call_box {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.container .call_box h4 {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}
.container .call_box p {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: right;
  margin-bottom: 20px;
}
.container .call_box .buttons {
  display: flex;
  flex-direction: row-reverse;
}
.container .call_box .buttons a:nth-child(2) {
  margin-left: 10px;
}
.container .call_box .buttons a {
  text-decoration: none;
}
.container .call_box .buttons a img {
  width: 54px;
  height: 54px;
  transition: 0.3s;
}
.container .call_box .buttons a img:hover {
  opacity: 0.9;
  transition: 0.3s;
}
.container .call_box .buttons button {
  font-size: 24px;
  border: none;
  background-color: #81a459;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.2509803922);
  transition: 0.3s;
  margin-left: 10px;
}
.container .call_box .buttons button:hover {
  opacity: 0.9;
  transition: 0.3s;
}

.media_fon {
  display: none;
}

.arrow span {
  font-size: 30px;
  font-weight: 300;
  line-height: 45px;
  letter-spacing: 0em;
  color: #5a7421;
}

.fon2 {
  position: absolute;
  top: 1236px;
  z-index: -1;
  max-width: 900px;
  width: 100%;
  height: 1100px;
  background-image: url(../img/fon2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.discount {
  background-image: url(../img/DSC05209\ 3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 600px;
  margin: 20px 0;
}
.discount .container {
  height: 100%;
  display: flex;
}
.discount .discount_element {
  display: flex;
  flex: 0 0 45%;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.discount .discount_element span {
  max-width: 323px;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
}

.products_slider {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.products_slider .big_slider {
  display: flex;
  max-width: 1100px;
  width: 100%;
}
.products_slider .big_slider .slide_element {
  width: 25%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.products_slider .big_slider .slide_element .slide_text {
  padding: 5px 10px 0;
  display: flex;
  flex-direction: column;
}
.products_slider .big_slider .slide_element .slide_text h3 {
  font-size: 24px;
  line-height: 1.3em;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.products_slider .big_slider .slide_element .slide_text .description {
  line-height: 1.3em;
  margin-bottom: 5px;
  font-size: 16px;
}
.products_slider .big_slider .slide_element .slide_text .type {
  text-transform: uppercase;
  line-height: 1.3em;
  margin-bottom: 5px;
  font-size: 16px;
}
.products_slider .big_slider .slide_element .slide_text .price {
  text-align: center;
  font-family: "comorantinfant-bold";
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 1.3em;
}
.products_slider .big_slider .slide_element .slide_text button {
  align-self: center;
  padding: 8px 11px;
  font-size: 24px;
  line-height: 1.3em;
  text-transform: uppercase;
  color: #5a7421;
  border: 1px solid #5a7421;
  cursor: pointer;
  transition: 0.3s;
}
.products_slider .big_slider .slide_element .slide_text button:hover {
  background-color: #5a7421;
  color: white;
  transition: 0.3s;
}
.products_slider .big_slider .slide_element .sale {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  color: white;
  z-index: 2;
  font-size: 41px;
  text-align: center;
  line-height: 90px;
  background-color: #5a7421;
  position: absolute;
  top: -30px;
  right: -10px;
}
.products_slider .arrows {
  position: absolute;
  bottom: 55%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 50%;
}
.products_slider .arrows button {
  font-size: 100px;
  line-height: 100px;
  color: rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 100px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}
.products_slider .arrows button:hover {
  transition: 0.3s;
  color: rgb(0, 0, 0);
}

.contact {
  padding: 200px 0;
  position: relative;
}
.contact .fon4 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  max-width: 680px;
  height: 100%;
  width: 100%;
  background-image: url(../img/fon4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contact .contacts_container {
  max-width: 562px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
.contact .contacts_container .socials {
  display: flex;
}
.contact .contacts_container .socials a {
  text-decoration: none;
  color: black;
}
.contact .contacts_container .socials a .icon {
  width: 54px;
  height: 54px;
  margin-right: 24px;
  transition: 0.3s;
}
.contact .contacts_container .socials a .icon:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.contact .contacts_container span {
  font-family: "comorantinfant";
  line-height: 1.3em;
  font-size: 20px;
}
.contact .contacts_container h3 {
  margin-bottom: 35px;
  font-size: 24px;
}
.contact .contacts_container .contact_location {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.contact .contacts_container .contact_location ion-icon {
  width: 35px;
  height: 35px;
}
.contact .contacts_container .contact_location div {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.contact .contacts_container .contact_type {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.contact .contacts_container .contact_type ion-icon {
  width: 35px;
  height: 35px;
}
.contact .contacts_container .contact_type div {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

footer {
  padding: 20px 0;
  box-sizing: unset;
  background-color: white;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .footer_logo {
  height: 80px;
}
footer .footer_logo img {
  width: 320px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .footer_links {
  display: flex;
  align-items: flex-end;
  max-width: 600px;
  width: 100%;
  justify-content: space-between;
}
footer .footer_links a {
  font-family: "comorantinfant";
  font-size: 18px;
  line-height: 1.3em;
  color: black;
  text-decoration: none;
  margin-left: 16px;
}

.fon3 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  max-width: 900px;
  width: 100%;
  height: 1080px;
  background-image: url(../img/fon3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}/*# sourceMappingURL=style.css.map */